
@font-face{
    font-family: 'Orbitron';
    src: url(font/orbitron.ttf);
}

@font-face{
    font-family: 'Open Sans';
    src: url(font/opensans.ttf);
}


*{
    margin: 0;
    font-family:'Franklin Gothic Medium';
}


.fundo{
    position: fixed;
    top:0;
    left: 0;
    background: linear-gradient(180deg,#7c0621, #a7042a);
    order: 0;
    width: 100%;
    height: 100%;
}

.principal{
    width: 100vm;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    /*background-color: #a7042a;*/
}

.telaEsquerda{
    width: 48vw;
    height: 96vh;
}
.telaEsquerda>.container{
    margin: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.secao1{
    width: 100%;
}
.secao2{
    width: 100%;
}
h1{
    font-size: 2.5vw;
    margin-bottom: 13px;
    font-family: 'Orbitron';
    color: #FFDE59;
}
p{
    margin-top: 12px;
    color: #cecece;
    font-size: 14px;
}
.creditos{
    font-size: 11px;
}
.textoNivel{
    color: #cecece;
}
.textoNivel p{
    font-size: 1vw;
}
.textoNivel li{
    font-size: 1vw;
}
ul{
    margin-top: 12px;
}
li{
    color: #cecece;
    font-size: 14px;
}
.indicadorNivel{
    margin-top: 25px;
    display: flex;
    width: 50%;
    min-width: 200px;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    background-color: #ffde59;
    border: 1px solid #000000;
    border-radius: 15px;
}
.indicadorNivel p{
    margin: 0;
    color: black;
    font-weight: bold;
}
.indicadorNivel img{
    height: 18px;
}
.indicadorNivel button{
    color: black;
    font-weight: bold;
    background: none;
    border: none;
    background-color: #ffde59;
    transition-duration: 0.4s;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
}
.indicadorNivel button:hover{
    transform: scale(1.5);
    transition-duration: 0.4s;
}
.guiaPersonagens{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    background-color: #ffde59;
    border: 1px solid #000000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    min-width: 200px;
}
.itemGuiaPersonagens{
    display: flex;
    flex-direction: row;
}
.imagemItemGuiaPersonagens{
    margin: 12px;
    width: 48px;
    transition-duration: 0.3s;
}
.areaCodigo{
    background-color: #bdbdbd;
    margin: 25px 0;
}
.areaCodigo .container{
    display: flex;
    flex-direction: row;
}
.numeracaoCodigo{
    height:100%;
    background-color: #737373;
    padding-left: 10px;
    padding-right: 5px;
}
.codigoAreaCodigo{
    height:100%;
    width: 75%;
    padding-left: 10px;
}
.linhaCodigo{
    margin: 2px;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    position: relative;
}
.linhaCodigoInput{
    margin: 2px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.linhaCodigo p{
    margin: 0;
    color: #3b3b3b;
    font-family:monospace;
}
.numeracaoCodigo p{
    color: #181818;
}
.linhaCodigoInput textarea{
    border: none;
    background-color: #e7e7e7;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:monospace;
    font-size: 15px;
    line-height: 1.7;
    resize: none;
    overflow-y: hidden;
    line-clamp: 3;
}

.telaDireita{
    display: grid;
    align-items: center;
    justify-content: center;
    background: url(img/board.jpg);
    background-size: contain;
    height: 47.4vw;
    width: auto;
    aspect-ratio: 1 / 1;
    margin: 25px;
}
.telaDireita>.areaPersonagem{
    height: 47.4vw;
    width: 47.4vw;
    display: flex;
    position: absolute;
    z-index: 1;
}
.telaDireita img{
    width: 20%;
    height: 20%;
}
.telaDireita .personagem{
    z-index: 1;
    position: relative;
    image-rendering: pixelated;
}
.telaDireita .areaComida{
    height: 47.4vw;
    width: 47.4vw;
    display: flex;
    position: absolute;
    z-index: 0;
}
.telaDireita .comida{
    image-rendering: pixelated;
    transition-duration: 0.4s;
}




.nomeComando{
    font-weight: bold;
    text-decoration: underline;
}

.botaoProximo{
    display: flex;
    padding: 15px;
    width: 15%;
    justify-content: flex-end;
    align-items: flex-end;
}

.botaoProximo button{
    background: #ffbb00;
    border: none;
    border-radius: 5px;
    padding: 7px;
    transition-duration: 0.3s;
}
.botaoProximo button:hover{
    background: #ffcb3d;
    transform: scale(125%);
    transition-duration: 0.3s;
}
.botaoProximo p{
    margin: 0;
    color: #1b1b1b;
}

.areaReiniciar{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.botaoReiniciar{
    background: #ffbb00;
    border: none;
    border-radius: 5px;
    padding: 7px;
    transition-duration: 0.3s;
    margin-right: 5px;
}
.botaoReiniciar:hover{
    background: #ffcb3d;
    transform: scale(125%);
    transition-duration: 0.3s;
}
.botaoReiniciar p{
    margin: 0;
    color: #1b1b1b;
}

.areaReiniciar>p{
    color: #1b1b1b;
    margin: 0;
    margin-right: 5px;
}